<br/>
<h1 class="text-center">LANDING PAGE FOR GRAMS!</h1>

<% @grams.each do |gram| %>
  <div class="text-center">
    <%= gram.message %>
    <%= image_tag(gram.image_url) %>
  </div>
<% end %>
